<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Account Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js"></script>
</head>

<body>
    <div class="container text-center">
        <div>
            <h1>Account Registration - Sign Up</h1>
        </div>
        <form th:action="@{/process_register}" th:object="${account}" method="post"
            style="max-width: 600px; margin: 0 auto;">
            <div class="m-3">

                <div class="form-group row">
                    <label class="col-4 col-form-label">First Name: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{firstName}" class="form-control" required minlength="2"
                            maxlength="20" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Last Name: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{lastName}" class="form-control" required minlength="2"
                            maxlength="20" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Date of Birth: </label>
                    <div class="col-8">
                        <input type="date" th:field="*{dob}" class="form-control" required minlength="2"
                            maxlength="20" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">E-mail: </label>
                    <div class="col-8">
                        <input type="email" th:field="*{email}" class="form-control" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">SSN: </label>
                    <div class="col-8">
                        <input type="number" th:field="*{ssn}" class="form-control" required minlength="9"
                            maxlength="9" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Phone number: </label>
                    <div class="col-8">
                        <input type="tel" th:field="*{mobileNumber}" class="form-control" required minlength="2"
                            maxlength="20" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Home Address: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{homeAddress}" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Mailing Address: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{mailAddress}" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Account type: </label>
                    <div class="form-check">
                        <input type="radio" id="savings" value="savings" name="accountType" th:field="*{accountType}"
                            class="form-control pl-3">
                        <label for="savings">Savings</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="checkings" value="checkings" name="accountType"
                            th:field="*{accountType}" class="pl-3 form-control">
                        <label for="checkings">Checkings</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="cd" value="cd" name="accountType" th:field="*{accountType}"
                            class="form-control">
                        <label for="cd">Cert. of Deposit</label>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>